@model OffroadAdventure.Models.Notifikacija

@{
    ViewData["Title"] = "Obriši";
}

<h1>Obriši</h1>

<h3>Da li ste sigurni da želite obrisati ovu notifikaciju?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.primalac_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.primalac_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tekst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tekst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Nazad na listu</a>

    </form>
</div>
