@model IEnumerable<OffroadAdventure.Models.Notifikacija>

@{
    ViewData["Title"] = "Lista notifikaicja";
}

<h1>Lista notifikacija</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Dodaj novi</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.primalac_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.primalac_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tekst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-warning">Uredi</a>
                        <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-info text-white">Detalji</a>
                        <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger">Obriši</a>
                    </div>

            </td>
        </tr>
}
    </tbody>
</table>
