@model OffroadAdventure.Models.Placanje

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Placanje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nacinPlacanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nacinPlacanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumPlacanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumPlacanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.popust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.popust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zahtjevZaRentanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zahtjevZaRentanje.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
