@model OffroadAdventure.Models.Vozilo

@{
    ViewData["Title"] = "Detalji";
}

<h1>Detalji</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cijenaPoDanu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cijenaPoDanu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dostupno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dostupno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.slikaURL)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.slikaURL" alt="Slika vozila" style="max-width: 100%; height: auto;" />
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-primary">Uredi</a>
    <a asp-action="Index" class="btn btn-secondary">Nazad na listu vozila</a>
</div>
