@model IEnumerable<OffroadAdventure.Models.Vozilo>

@{
    ViewData["Title"] = "UPRAVLJANJE VOZILIMA"; //INDEX!!!!
}

<h3 class="mb-4">UPRAVLJANJE VOZILIMA</h3>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cijenaPoDanu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dostupno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.slikaURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cijenaPoDanu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dostupno)
            </td>
                <td>
                    <a href="@item.slikaURL" target="_blank">
                        <img src="@item.slikaURL" alt="Slika vozila" style="max-height: 100px;" />
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-info text-white">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger">Delete</a>
                </td>

        </tr>
}
    </tbody>
</table>
