@model OffroadAdventure.Models.ZahtjevZaRentanje

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZahtjevZaRentanje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnik_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnik_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumOd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumOd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brojVozila)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brojVozila)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.popust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.popust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrijemeTrajanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijemeTrajanja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
