@model OffroadAdventure.Models.ZahtjevZaRentanje

@{
    ViewData["Title"] = "Detalji";
}

<h1>Detalji</h1>

<div>
    <hr />
    <dl class="row">
        <h5>Odabrana vozila:</h5>
        <div class="vozila-grid">
            @foreach (var stavka in Model.Stavke)
            {
                var vozilo = stavka.Vozilo;
                <div class="vozilo-kartica disabled-kartica">
                    <img class="vozilo-slika" src="@vozilo.slikaURL" alt="slika vozila" />
                    <div class="vozilo-info">
                        <strong>@vozilo.model</strong><br />
                        Vrsta vozila: @vozilo.tip
                    </div>
                    <div class="vozilo-cijena">
                        <span>Cijena</span><br />
                        @vozilo.cijenaPoDanu KM
                    </div>
                </div>
            }
        </div>
        </ul>
        <dt class="col-sm-2">
            Način plaćanja
        </dt>
        <dd class="col-sm-10">
            @Model.Placanje?.nacinPlacanja.ToString()
        </dd>

        <dt class="col-sm-2">
            Status plaćanja
        </dt>
        <dd class="col-sm-10">
            @Model.Placanje?.statusPlacanja.ToString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumOd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumOd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brojVozila)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brojVozila)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statusZahtjeva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statusZahtjeva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.popust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.popust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brojTelefona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brojTelefona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dodatniZahtjev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dodatniZahtjev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
