@model IEnumerable<OffroadAdventure.Models.ZahtjevZaRentanje>

@{
    ViewData["Title"] = "LISTA ZAHTJEVA";
}

<h3 class="mb-4">LISTA ZAHTJEVA</h3>

<p>
    <a asp-action="Create" class="btn btn-success">Kreiraj novi zahtjev</a>
</p>
<div class="tabela-wrapper">
<table class="table">
    <thead>
        <tr>
            <th>Nacin plaćanja</th>
            <th>Status plaćanja</th>
            <th>
                @Html.DisplayNameFor(model => model.datumOd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojVozila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statusZahtjeva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.popust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojTelefona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dodatniZahtjev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @item.Placanje?.nacinPlacanja.ToString()
                </td>
                <td>
                    @item.Placanje?.statusPlacanja.ToString()
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojVozila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statusZahtjeva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.popust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojTelefona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dodatniZahtjev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-primary" style="width: 70px;">Uredi</a>
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-info text-white" style="width: 70px;">Detalji</a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger" style="width: 70px;">Obriši</a>
                    <form asp-action="Odobri" method="post" style="display:inline;" style="width: 70px;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.id" />
                        <button type="submit" class="btn btn-success btn-sm" style="width: 70px;">Odobri</button>
                    </form>
                    <form asp-action="Odbij" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.id" />
                        <button type="submit" class="btn btn-warning btn-sm" style="width: 70px;">Odbij</button>
                    </form>
            </td>
        </tr>
}

    </tbody>
</table>
</div>
<style>
    .tabela-wrapper {
        padding-left: 10px;
        overflow-x: auto;
    }

        .tabela-wrapper table {
            width: 100%;
        }

    h3 {
        padding-left: 10px;
    }

    p {
        padding-left: 10px;
    }
</style>
