@model OffroadAdventure.Models.Komentar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Komentar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.autor_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.autor_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ocjena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ocjena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tekst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tekst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
