@model OffroadAdventure.Models.Komentar

@{
    ViewData["Title"] = "Detalji";
}

<h1>Detalji</h1>

<div>
    <h4>Komentar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.autor_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.autor_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.komentarId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.komentarId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ocjena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ocjena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tekst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tekst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datum)
        </dd>
    </dl>
</div>
<div>
    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-2">Uredi</a>
        <a asp-action="Index" class="btn btn-secondary">Nazad na listu komentara</a>
    </div>

</div>
