@model IEnumerable<OffroadAdventure.Models.Komentar>

@{
    ViewData["Title"] = "Lista komentara";
}

<h3 class="mb-4">LISTA KOMENTARA</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.autor_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.komentarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ocjena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.autor_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.komentarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ocjena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tekst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datum)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info text-white">Detalji</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
